body {
    background-color: black;
}

.jmeno {
    width: 98vw;
    text-align: center;
    font-size: 5.7vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    flex: auto;
}

@media (max-width: 480px) {
    .layout {
        flex-direction: column;
    }
}

.menu {
    color: white;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3.5vw;
    text-align: center;
    border-radius: 10px;
}

.mojeveci {
    padding-left: 1%;
    color: white;
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.aboutMePreview,
.contactsPreview,
.projectsPreview,
.tasksPreview {
    display: flex;
    height: 45vh;
    width: calc(48% - 2%);
    margin: 1%;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    cursor: pointer; /* Změna kurzoru na pointer */
}

.aboutMePreview:hover,
.contactsPreview:hover,
.projectsPreview:hover,
.tasksPreview:hover {
    background-color: darkcyan;
    /*transform: scale(1.05); /* Zvětšení divu při hoveru */
}

.active {
    position:static;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%); /* Centrování */
    width: 80vw; /* Šířka zvětšeného divu */
    height: 90vh; /* Výška zvětšeného divu */
    background-color: darkcyan; /* Pozadí, když je div aktivní */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikální vycentrování obsahu */
    align-items: center; /* Horizontální vycentrování obsahu */
    transition: all 0.5s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu {
        width: 30vw;
        font-size: 4vw;
    }

    .mojeveci {
        width: 90vw;
    }

    .aboutMePreview,
    .contactsPreview,
    .projectsPreview,
    .tasksPreview {
        width: calc(90% - 2%);
        height: 30vh;
    }
}

@media (max-width: 480px) {
    .menu {
        width: 98vw;
        height: auto;
        font-size: 5vw;
    }

    .mojeveci {
        flex-direction: column;
        width: 98vw;
        height: auto;
    }

    .aboutMePreview,
    .contactsPreview,
    .projectsPreview,
    .tasksPreview {
        width: calc(100% - 2%);
        height: 40vh;
        margin: 1%;
    }
}